*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --btnjumbo:rgba(205, 61, 15, 1);
}

.sony > a > h2{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    color:white;
    
}
.jumbo{
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
    background-position: top;
    
    
}
.dimension{
    width: 320px;
    
}


.col > a{
    border-radius: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--btnjumbo);
}