*{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --btnjumbo:rgba(205, 61, 15, 1);
    --btn-nav:rgba(54, 54, 54, 1);
}

.sony > a > h2{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    color:white;
    
}
.jumbo{
    background-image: url(../img/jumbo-bg.png);
    height: 620px;
    background-position: top;
    
    
}
.dimension{
    width: 320px;
    
}

.take-two-button{
    background-color: var(--btnjumbo);
    border-radius: 50px;
    vertical-align: middle;
    text-align: center;
}

.card-container{
    margin-top:50px;
}

.jumbo_button{
    border-radius: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--btnjumbo);
}
.btn-nav{
    
    
    background-color: var(--btn-nav);
    
} 

.btn-nav > a{
    color:white;
    padding:10px;
}
a{
    text-decoration: none;
}
.nav-link{
    color:rgba(18, 18, 18, 1);
}

.photo_game{
    border-radius: 10%;
    cursor:pointer;
    transition: 1s;
    
}

.photo_games{
    border-radius: 10%;
    cursor:pointer;
}
.active{
    border:4px solid rgba(14, 122, 208, 1);
    padding:2px;
}

.photo_game:hover{

transform: translatey(-33px);
}
.container-cards{
    margin-right:50px;
    margin-left:50px;
}




.play{
    margin:-2px;
    letter-spacing: 1px;
    color:rgba(20, 125, 210, 1);
}

.container > p{
    color:rgba(118, 118, 118, 1);
}



.button_play{
    border-radius: 50px;
    
    
    background-color: rgba(45, 100, 230, 1);
    
    
}
a{
    color:white;
}


.thumb-2{
    height: 950px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    
}


.it-takes-p{
    color:white;
    line-height: 30px;
}


.it-takes-h1{
    color:white;
    line-height: 50px;
}

.info-takes{
    background-color: rgba(31, 31, 31, 1);
    

}

.bianco{
    color:white;
}

.tm{
    font-size: 8px;
    position:relative;
    bottom:7px;
    right:5px;
}